html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #000;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/**/
.goods-items {
    max-height: 400px;
    overflow: auto;
}
.goods-items .media.border {
    border: 1px solid #f1f1f1;
    padding: 8px 10px;
}
.goods-items .media.border:hover{
    background: #f9f9f9;
}
.goods-items  .media {
    position: relative;
}
.goods-items .action {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.8;
}
.goods-items .action:hover{
    opacity: 1;
}

.info-order .img {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}
.info-order .buttons {
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
}

.info-order .total {
    margin: 20px 0 5px 0;
}
.info-order .total-money {
    background: cornsilk;
    padding: 8px 10px 0px;
}
.info-order .total-money div{
    padding-bottom: 3px;
}
.info-order .total-money .money{
 font-weight: bold;
}
.info-order .result h4{
    display: inline-block;
}
.info-order .result .money{
    font-size: 16px;
}
.search-input {
    padding: 8px 0px;
}
.navbar .dropdown-menu,.navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:link  {
   color: #e6e6e6;
   background: #101010;
}
.navbar .dropdown-menu li a {
     color:#e6e6e6;
}
.navbar .dropdown-menu li a:hover{
    color:#e6e6e6;
    background: #292929;
}
/**/
img.size-1 {
    width: 100%;
}
img.size-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*loader*/
#loadAjax {
    position: fixed;
    left: 50%;
    top: 50%;
    background: none;
    width: 2.875em;
    height: 2.875em;
    margin-left: -1.4375em;
    margin-top: -1.4375em;
    z-index: 210;
    display: none;
}
#loadAjax, div.loader {
    height: 4.76em;
    margin: 0px;
    padding: 0.0625em;
    width: 4.75em;
}
#loadAjax div.loader {
    background: url("/images/loader.gif") no-repeat;
}
/*loader*/
.alert__fix {
    /*left: 0;*/
    margin: 0 auto;
    position: fixed;
    right: 15px;
    text-align: center;
    top: 80px;
    width: 30%;
    z-index: 10000;
    display: none;
}
.alert__fix .messages {
    font-size: 18px;
}
.margin-left-right{
    margin-left: 15px;
    margin-right: 15px;
}
.color-gold{
    color: #fffc20;
}
.bgimage{
    background: url("/images/sert_back.jpg") no-repeat;
    background-size: cover;
    height: 400px;
}